.banner-image {
    height: 90vh;
    z-index: 10;
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: url("https://images.pexels.com/photos/2982449/pexels-photo-2982449.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"), #7b4397; */
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)),
    url("https://images.pexels.com/photos/2982449/pexels-photo-2982449.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.banner-title {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    /* background: chartreuse; */
    position: absolute !important;
    top: -5% !important;
    height: 150px;
    flex-direction: column;
}

.banner-title p {
    text-transform: uppercase;
    color: #fff;
    font-size: 33px;
    font-weight: 600;
}

.banner-title span {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-size: 48px;
    font-weight: 900 !important;
    margin-top: 16% !important;
}

.banner-title-color {
    color: #dc2430 !important;

    /* background: radial-gradient( rgb(238, 215, 4),#d50000);
    -webkit-background-clip: unset;
    -webkit-text-fill-color: transparent !important; */

}

.banner-btns {
    margin-top: 30px !important;
}

.btn-danger {
    background: #dc2430 !important;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 18px;
    border: 2px solid #fff;
}

.btn-danger:hover {
    border: 2px solid #fff;
}

.btn-outline {
    background: transparent !important;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 18px !important;
    border: 2px solid #fff;
    margin-left: 8px;
}

.btn-outline:hover {
    color: #fff;
    background: #dc2430 !important;
    transition: all .5s ease-in-out;
}