
.diploma-flex-container{
    display: flex !important;
    justify-content: flex-start !important;
    flex-direction: column !important;
}
.diploma-main{
  box-shadow: 0 2px 5px 0px rgba(0,0,0, 0.5);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  height: 150px !important;
  
}
.diploma_items_1{
  margin: 12px;
  flex: 0 0 400px;
}
.diploma_btn{
  background: rgb(241, 241, 241);
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diploma{ 
    display: grid;
    grid-template-areas: 
      
      "article article ads"
      ;
    grid-template-rows: auto;  
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-row-gap: 10px; */
    grid-column-gap: 12px;
    height: auto !important;
    margin: 0;
    }  
   article,  #siteAds {
    /* padding: 1.2em; */
    /* background: gold; */
    }
  
  #mainArticle { 
    grid-area: article;      
    }
  
  #siteAds { 
    grid-area: ads; 
    border-left: 1px solid rgb(240, 237, 237);
    } 
  /* Stack the layout on small devices/viewports. */
  @media all and (max-width: 575px) {
    .diploma { 
      grid-template-areas: 
        
        "article"
        "ads"
       ;
      grid-template-rows:1fr 1fr  1fr;  
      grid-template-columns: 1fr;
   }
  }

.zoom, .small{
    overflow: hidden;
    padding: 0;
    flex: 0 0 200px;
    height: 100%;
    /* border:1px solid #000; */
    float:left;
    /* margin:10px; */
}
.zoom img {
    transition-duration: 4s;
    margin: 0 auto;
    display: block;
}
.zoom img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}
.small img{
  transition-duration: 3s;
    margin: 0 auto;
    display: block;
  transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    width: 100% !important;
    height: 100%;
}
.small img:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    z-index: 0;
}