.zoom, .small{
    overflow: hidden;
    padding: 0;
    width: 300px;
    height: 300px;
    border:1px solid #000;
    float:left;
    margin:10px;
}
.zoom img {
    transition-duration: 4s;
    margin: 0 auto;
    display: block;
}
.zoom img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}
.small img{
  transition-duration: 4s;
    margin: 0 auto;
    display: block;
  transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
}
.small img:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    z-index: 0;
}