body{
    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
  }
   .navbar-brand img{
    max-height: 60px !important;
    width: 100px !important;
    
  }
  
  
  
  .navbar{
    padding: 10px;
    overflow: hidden !important;
    background: #000 !important;
    z-index: 999;
     
  }
  .change{
    color: #ffff !important;
    
  } 
   .dropdown-menu{
    margin-top: 12px;
  }
  .dropdown-item{
    text-transform: capitalize;
  }
  .fa-bars{
    color: #fff !important;
    font-size: 30px;
  } 
   .navbar .nav-link{
    color: #fff!important;
    font-size: 17px;
    text-transform: uppercase;
  } 
   .nav-item{
    padding: 6px 18px;
    
  } 
  
   .navbar-nav{
    margin-right: 30px !important;
  
  } 
   .cf:before, .cf:after{
    content:"";
    display:table;
    }
    .cf:after{
    clear:both;
    }
    .cf{
    zoom:1;
    }
  .form-wrapper-2 {
    margin-right: 12px;
  }
  .form-wrapper-2 input {
  width: 210px;
  height: 40px;
  padding: 12px 5px;
  float: left;
  font: bold 15px 'Raleway', sans-serif;
  border: 0;
  background: #eee;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  }
  .form-wrapper-2 input:focus {
  outline: 0;
  background: #fff;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  }
  .form-wrapper-2 input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  }
  .form-wrapper-2 input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  }
  .form-wrapper-2 input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  }
  .form-wrapper-2 button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font: bold 15px/40px 'Raleway', sans-serif;
  color: #fff;
  text-transform: uppercase;
  background: #dc2430;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
  }
  .form-wrapper-2 button:hover{
  background: #dc2430;
  color: #fff;
  }
  .form-wrapper-2 button:active,
  .form-wrapper-2 button:focus{
  background: #dc2430;
  }
  .form-wrapper-2 button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #dc2430 transparent;
  top: 12px;
  left: -6px;
  }
  .form-wrapper-2 button:hover:before{
  border-right-color: #dc2430;
  }
  .form-wrapper-2 button:focus:before{
  border-right-color: #dc2430;
  }
  .form-wrapper-2 button::-moz-focus-inner {
  border: 0;
  padding: 0;
  } 
  
  
  
   @media(max-width:449px){
    
      
  }