.carousel-item img{
    height: 100% !important;
}
.carousel-item{
    height: 66vh;
}

.carousel-caption{
    /* height: 370px !important; */
     height: 100% !important; 
     
   
}
.card{
    height: 470px !important;
    margin: 10px !important;
    width: 350px;
}
.carousel-control-prev-icon{
    height: 40px !important;
    width: 40px !important;
}
.carousel-control-prev-icon i{
    color:#d50000 !important;
    
}
.fa-chevron-left, .fa-chevron-right{
    font-size: 36px !important;
    
}
.fa-chevron-left:hover{
    
    color: red !important;
}
 .card img{
    width: 100% !important;
    height: 100% !important;
} 
.btn-primary{
    background: #d50000 !important;
    border: none !important;
    outline: none !important;
    text-transform: capitalize !important;
    letter-spacing: 1px;
}