
    <div class="banner">
        <div class="banner-contents">
          <div class="banner-title">
            <h1>excellence in teaching</h1>
            <h3>COLLEGE / UNIVERSITY / CAMPUS</h3>
            <br />
            <p>
              we are here to make your life better through our excellence teaching
              materials
            </p>
            <button class="btn btn-outline btn-lg">take a tour</button>
          </div>
          <div class="banner-book">
            <img
              src="https://i.pinimg.com/originals/ac/08/02/ac08023f627a82b4e852c3960d89dd52.png"
              alt=""
            />
          </div>
        </div>
      </div>