<div class="banner-image">
    <div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
           <div class="banner-title">
               <span>Atena <span class="banner-title-color">excellence</span> in teaching</span>
               <p>COLLEGE / UNIVERSITY / CAMPUS</p>
               <div class="banner-btns">
                   <button class="btn btn-danger btn-lg">take a tour</button>
                   <button class="btn btn-outline btn-lg">about us</button>
               </div>
             
           </div>
             
        </div>
    </div>
</div>
</div>


    