
<div class="container">
        <section class="diploma">
        <article id="mainArticle">
        <div class="diploma-flex-container">
        <div class="diploma-main">
                <div class="small">
                    <img src="https://images.pexels.com/photos/163032/office-pen-calculator-computation-163032.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="small" width="300" height="300"
                        class="alignleft size-medium wp-image-7000" />
    
                </div>
                <div class="diploma_items_1">
                    <h3>MATHEMACIS DIPLOMA</h3>
                    <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem
                        sea ex, nec id agam eius. Te pri facete latine salutandi,
                        scripta mediocrem et sed, cum ne mundi vulputate....</p>
                </div>
                <div class="diploma_btn">
                    <button class="btn btn-primary">details</button>
                </div>
    
            </div>

                


            
        <div class="diploma-main">
                <div class="small">
                    <img src="https://images.pexels.com/photos/356040/pexels-photo-356040.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="small" width="300" height="300"
                        class="alignleft size-medium wp-image-7000" />
    
                </div>
                <div class="diploma_items_1">
                    <h3>SCIENCES DIPLOMA</h3>
                    <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem
                        sea ex, nec id agam eius. Te pri facete latine salutandi,
                        scripta mediocrem et sed, cum ne mundi vulputate....</p>
                </div>
                <div class="diploma_btn">
                    <button class="btn btn-primary">details</button>
                </div>
    
            </div>

         

            <div class="diploma-main">
                    <div class="small">
                        <img src="https://images.pexels.com/photos/545068/pexels-photo-545068.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="small" width="300" height="300"
                            class="alignleft size-medium wp-image-7000" />
        
                    </div>
                    <div class="diploma_items_1">
                        <h3>LITTERATURE DIPLOMA</h3>
                        <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem
                            sea ex, nec id agam eius. Te pri facete latine salutandi,
                            scripta mediocrem et sed, cum ne mundi vulputate....</p>
                    </div>
                    <div class="diploma_btn">
                        <button class="btn btn-primary">details</button>
                    </div>
        
                </div>

                
                <div class="diploma-main">
                        <div class="small">
                            <img src="https://images.pexels.com/photos/1839919/pexels-photo-1839919.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="small" width="300" height="300"
                                class="alignleft size-medium wp-image-7000" />
            
                        </div>
                        <div class="diploma_items_1">
                            <h3>ARTS DIPLOMA</h3>
                            <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem
                                sea ex, nec id agam eius. Te pri facete latine salutandi,
                                scripta mediocrem et sed, cum ne mundi vulputate....</p>
                        </div>
                        <div class="diploma_btn">
                            <button class="btn btn-primary">details</button>
                        </div>
            
                    </div>

                    
                    <div class="diploma-main">
                            <div class="small">
                                <img src="https://images.pexels.com/photos/159376/turntable-top-view-audio-equipment-159376.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="small" width="300" height="300"
                                    class="alignleft size-medium wp-image-7000" />
                
                            </div>
                            <div class="diploma_items_1">
                                <h3>MUSIC DIPLOMA</h3>
                                <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem
                                    sea ex, nec id agam eius. Te pri facete latine salutandi,
                                    scripta mediocrem et sed, cum ne mundi vulputate....</p>
                            </div>
                            <div class="diploma_btn">
                                <button class="btn btn-primary">details</button>
                            </div>
                
                        </div>
            
            
        </div><!--end of diploma flex container-->
                </article>
                
                <div id="siteAds">
                        <div class="aside">

                                <div class="side-1">
                                    <h3>TAKE A CAMPUS TOUR</h3>
                                    <p>Zril causae ancillae sit ea. Dicam
                                        veritus mediocritatem sea ex, nec id agam eius.
                                    </p>
                                    <button type="button" class="btn btn-primary bt-sm">start tour</button>
                                </div>
                                <div class="side-2">
                                    <h3>How to apply</h3>
                                    <p>Zril causae ancillae sit ea. Dicam veritus
                                        mediocritatem sea ex, nec id agam eius. Te pri
                                        facete latine salutandi, scripta mediocrem et sed, cum.
                    
                                    </p>
                                </div>
                       
                            </div>
                </div>
                  
                </section>
</div>