<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            
                <div class="small">
                    <img src="https://cdn.pixabay.com/photo/2016/09/26/20/10/grapes-1696921__340.jpg" alt="small" width="300" height="300" class="alignleft size-medium wp-image-7000" />
                
                </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="side-1">
                <h3>TAKE A CAMPUS TOUR</h3>
                <p>Zril causae ancillae sit ea. Dicam 
                    veritus mediocritatem sea ex, nec id agam eius.
                </p>
                <button type="button" class="btn btn-primary bt-sm">start tour</button>
            </div>
        </div>
    </div>
</div>