<!-- education category -->
<section id="education-category">
    <h1 class="education-category-title">university education plans</h1>
    <div class="underline"></div>
    <div class="container">
        <div class="absolute">
        <div class="row shadow  mb-7 bg-white rounded no-gutters category text-center">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="hovereffect">
                        <img class="img-responsive" src="https://images.pexels.com/photos/1458318/pexels-photo-1458318.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                        <div class="overlay">
                           <h2>plan a visit</h2>
                           <a class="info" href="#">link here</a>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="hovereffect">
                        <img class="img-responsive" src="https://images.pexels.com/photos/7102/notes-macbook-study-conference.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                        <div class="overlay">
                           <h2>study programs</h2>
                           <a class="info" href="#">link here</a>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="hovereffect">
                        <img class="img-responsive" src="https://images.pexels.com/photos/159774/hands-writing-diary-journal-159774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                        <div class="overlay">
                           <h2>admissions</h2>
                           <a class="info" href="#">link here</a>
                        </div>
                    </div>
                </div>
            </div>
            
            

         <!--next line-->

            <div class="row shadow mb-7 bg-white rounded no-gutters category text-center">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                        <div class="hovereffect">
                            <img class="img-responsive" src="https://images.pexels.com/photos/1458318/pexels-photo-1458318.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                            <div class="overlay">
                               <h2>plan a visit</h2>
                               <a class="info" href="#">link here</a>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                        <div class="hovereffect">
                            <img class="img-responsive" src="https://images.pexels.com/photos/7102/notes-macbook-study-conference.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                            <div class="overlay">
                               <h2>study programs</h2>
                               <a class="info" href="#">link here</a>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                        <div class="hovereffect">
                            <img class="img-responsive" src="https://images.pexels.com/photos/159774/hands-writing-diary-journal-159774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                            <div class="overlay">
                               <h2>admissions</h2>
                               <a class="info" href="#">link here</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>
        </div>
    </div>
    </div>
</section>

