<!-- Footer -->
<br>
<br>
<br>
<br>
<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4 footer-title">
					<h5>about</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>about us</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>blog</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>login</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>register</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>terms and condition</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 footer-title">
					<h5>academic</h5>
					<ul class="list-unstyled quick-links">
						<li><a href=""><i class="fa fa-angle-double-right"></i>plan of studies</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>courses</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>admission</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>staffs</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>students</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 footer-title">
					<h5>contacts</h5>
					<ul class="list-unstyled quick-links">
						<li><a href=""><i class="fa fa-angle-double-right"></i>contacts</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>plan a visit</a></li>
                        <br>
						<li><a href=""><i class="fa fa-angle-double-right"></i>info line- +004555555555</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>email-info@atena.com / office@atena.com</a></li>
						
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href=""><i class="fab fa-facebook-f"></i></a></li>
						<li class="list-inline-item"><a href=""><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href=""><i class="fab fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href=""><i class="fab fa-google"></i></a></li>
						<li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="#">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
					<p class="h6">© Atena 2019 - All rights reserved.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
				</div>
				</hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->