<div class="container">
    <div class="header">
      <div class="row text-center">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="address">
            <p>address : Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="phone-number">
            <p>+4553535354</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="social-icons">
            <i class="fab fa-facebook-f"></i>
            <i class="far fa-envelope"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

