 <nav class="navbar navbar-expand-md" id="navbar">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://www.uhv.edu/media/uhv/resp-site-assets/UHV-letters-only-min.png" alt="">
    </a>
    <button class="navbar-toggler toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                home
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#video">video</a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">contact</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 academic
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">diploma courses</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">graduate courses</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">master course</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">apply online</a>
                </div>
              </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            about
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">plan a visit</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">staff</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/gallary">gallary</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">tour</a>
        </li>
      </ul>
      <form class="form-wrapper-2 cf">
        <input class="form-control " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline search-btn my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</div>
  </nav> 