

<div class="service-head">
        <h1>our services for students</h1>
        <div class="services-underline"></div>
    </div>
    
<div class="container">
    
    <div class="row text-center">
        <div class="col-lg-6 col-md-6">
            <div class="service-items shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="service-icon shadow p-3 mb-0 bg-white rounded">
                            <div class="icons">
                                    <i class="fas fa-certificate"></i>
                            </div>
                        </div>
                <div class="service-title shadow-lg p-2 mb-0 bg-white rounded">
                    <h3>certificate</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                    elit. Id quod incidunt animi reiciendis error dolore.

                    </p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
                <div class="service-items shadow-lg p-3 mb-5 bg-white rounded">
                        <div class="service-icon shadow p-3 mb-0 bg-white rounded">
                                <div class="icons">
                                        <i class="fas fa-certificate"></i>
                                </div>
                            </div>
                        <div class="service-title shadow p-2 mb-0 bg-white rounded">
                            <h3>certificate</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                            elit. Id quod incidunt animi reiciendis error dolore.
        
                            </p>
                        </div>
                        
                    </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <div class="row text-center">
            <div class="col-lg-6 col-md-6">
                <div class="service-items shadow p-3 mb-5 bg-white rounded">
                        <div class="service-icon shadow-lg p-3 mb-0 bg-white rounded">
                                <div class="icons">
                                        <i class="fas fa-certificate"></i>
                                </div>
                            </div>
                    <div class="service-title shadow p-2 mb-0 bg-white rounded">
                        <h3>certificate</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                        elit. Id quod incidunt animi reiciendis error dolore.
    
                        </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                    <div class="service-items shadow p-3 mb-5 bg-white rounded">
                            <div class="service-icon shadow p-3 mb-0 bg-white rounded">
                                    <div class="icons">
                                            <i class="fas fa-certificate"></i>
                                    </div>
                                </div>
                            <div class="service-title shadow p-2 mb-0 bg-white rounded">
                                <h3>certificate</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                                elit. Id quod incidunt animi reiciendis error dolore.
            
                                </p>
                            </div>
                            
                        </div>
            </div>
        </div>
<br>
<br>
<br>
       <div class="tour">
        <a href="#" class="tour-btn">take a tour</a>
    </div>
</div>
