
<br>
<br>
<br>
<br>
<div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
         
          <div class="carousel-inner">
            <div class="carousel-item active">
              
              <div class="carousel-caption d-none d-md-block">
               <div class="row text-center">
                  <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="card shadow p-0 mb-5 bg-white rounded">
                          <img class="card-img-top" src="https://images.pexels.com/photos/874158/pexels-photo-874158.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image" style="width:100%">
                          <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                          </div>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="card shadow p-0 mb-5 bg-white rounded">
                          <img class="card-img-top" src="https://images.pexels.com/photos/834863/pexels-photo-834863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image" style="width:100%">
                          <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                          </div>
                        </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="card shadow p-0 mb-5 bg-white rounded">
                          <img class="card-img-top" src="https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image" style="width:100%">
                          <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="carousel-item">
              
               <div class="carousel-caption d-none d-md-block">
                  <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-12">
                          <div class="card shadow p-0 mb-5 bg-white rounded">
                              <img class="card-img-top" src="https://images.pexels.com/photos/2422286/pexels-photo-2422286.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image" style="width:100%">
                              <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                <a href="#" class="btn btn-primary">See Profile</a>
                              </div>
                            </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12">
                          <div class="card shadow p-0 mb-5 bg-white rounded">
                              <img class="card-img-top" src="https://images.pexels.com/photos/1065084/pexels-photo-1065084.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image" style="width:100%">
                              <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                <a href="#" class="btn btn-primary">See Profile</a>
                              </div>
                            </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12">
                          <div class="card shadow p-0 mb-5 bg-white rounded">
                              <img class="card-img-top" src="https://images.pexels.com/photos/1090387/pexels-photo-1090387.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image" style="width:100%">
                              <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                <a href="#" class="btn btn-primary">See Profile</a>
                              </div>
                            </div>
                      </div>
                    </div>
              </div>
              
            </div> 
            <div class="carousel-item">
             
              <div class="carousel-caption d-none d-md-block">
                  <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-12">
                          <div class="card shadow p-0 mb-5 bg-white rounded">
                              <img class="card-img-top" src="https://images.pexels.com/photos/1181690/pexels-photo-1181690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image" style="width:100%">
                              <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                <a href="#" class="btn btn-primary">See Profile</a>
                              </div>
                            </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12">
                          <div class="card shadow p-0 mb-5 bg-white rounded">
                              <img class="card-img-top" src="https://images.pexels.com/photos/1036622/pexels-photo-1036622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image" style="width:100%">
                              <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                <a href="#" class="btn btn-primary">See Profile</a>
                              </div>
                            </div>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-12">
                          <div class="card shadow p-0 mb-5 bg-white rounded">
                              <img class="card-img-top" src="https://images.pexels.com/photos/712513/pexels-photo-712513.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image" style="width:100%">
                              <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                <a href="#" class="btn btn-primary">See Profile</a>
                              </div>
                            </div>
                      </div>
                    </div>
              </div>
              
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
           
            <i class="fas fa-chevron-left"></i>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            
              <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>