
<div class="container">
<div class="tab-container">
    <!-- Tabs -->
    <ul id="nav-tab" class="nav">
      <li class="active"><a href="#home">Home</a></li>
      <li><a href="#news">news</a></li>
      <li><a href="#events">events</a></li>
     
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home">
            <h2>diploma courses</h2>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="course">
                        <img src="/img/course_1_thumb.jpg" alt="" class="img-fluid">
                        <div class="course-items">
                            <h4>mathematics diploma</h4>
                        <span>start 3 octobar 2015</span>
                        </div>
                        
                    </div>
                
                
                        <div class="course">
                            <img src="/img/course_2_thumb.jpg" alt="" class="img-fluid">
                            <div class="course-items">
                                 <h4>mathematics diploma</h4>
                            <span>start 3 octobar 2015</span>
                            </div>
                           
                        </div>
                   
                    
                            <div class="course">
                                <img src="/img/course_3_thumb.jpg" alt="" class="img-fluid">
                                <div class="course-items">
                                    <h4>mathematics diploma</h4>
                                <span>start 3 octobar 2015</span>
                                </div>
                                
                            </div>

                           

                                

                                    <a href="#">view all diploma courses</a>
                        
            </div>


            <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="course">
                        <img src="/img/course_1_thumb.jpg" alt="" class="img-fluid">
                        <div class="course-items">
                            <h4>mathematics diploma</h4>
                        <span>start 3 octobar 2015</span>
                        </div>
                        
                    </div>
                
                
                        <div class="course">
                            <img src="/img/course_2_thumb.jpg" alt="" class="img-fluid">
                            <div class="course-items">
                                 <h4>mathematics diploma</h4>
                            <span>start 3 octobar 2015</span>
                            </div>
                           
                        </div>
                   
                    
                            <div class="course">
                                <img src="/img/course_3_thumb.jpg" alt="" class="img-fluid">
                                <div class="course-items">
                                    <h4>mathematics diploma</h4>
                                <span>start 3 octobar 2015</span>
                                </div>
                                
                            </div>

                          

                                
                                    <a href="#">view all graduate courses</a>
                        
            </div>



            <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="course">
                        <img src="/img/course_1_thumb.jpg" alt="" class="img-fluid">
                        <div class="course-items">
                            <h4>mathematics diploma</h4>
                        <span>start 3 octobar 2015</span>
                        </div>
                        
                    </div>
                
                
                        <div class="course">
                            <img src="/img/course_2_thumb.jpg" alt="" class="img-fluid">
                            <div class="course-items">
                                 <h4>mathematics diploma</h4>
                            <span>start 3 octobar 2015</span>
                            </div>
                           
                        </div>
                   
                    
                            <div class="course">
                                <img src="/img/course_3_thumb.jpg" alt="" class="img-fluid">
                                <div class="course-items">
                                    <h4>mathematics diploma</h4>
                                <span>start 3 octobar 2015</span>
                                </div>
                                
                            </div>

                        
                               

                                    <a href="#">view all master courses</a>
                        
            </div>

        </div>
      </div>
        <!--NEWS TAB-->
      <div class="tab-pane" id="news">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card mb-4">
                            <img class="card-img-top" src="/img/news_1_thumb.jpg" alt="Card image cap">
                            <div class="card-body">
                                <small>20 August 2015</small>
                               <h5 class="card-title">Success Stories for Atena College in 2015's</h5>
                               <p class="card-text">Lorem ipsum dolor sit amet, ei tincidunt persequeris efficiantur vel, usu animal patrioque omittantur et. 
                                   Timeam nostrud platonem nec ea, simul nihil delectus has ex.</p>
                               <a href="" class="btn btn-outline-dark btn-sm">read more</a>
                            </div>
                         </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card mb-4">
                            <img class="card-img-top" src="/img/news_2_thumb.jpg" alt="Card image cap">
                            <div class="card-body">
                                    <small>20 August 2015</small>
                               <h5 class="card-title">Boost in A-Level Grades in 2015 for Students</h5>
                               <p class="card-text">
                                    Lorem ipsum dolor sit amet, ei tincidunt persequeris efficiantur vel, 
                                    usu animal patrioque omittantur et. 
                                    Timeam nostrud platonem nec ea, simul nihil delectus has ex.
                               </p>
                               <a href="" class="btn btn-outline-dark btn-sm">read more</a>
                            </div>
                         </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card mb-4">
                            <img class="card-img-top" src="/img/news_3_thumb.jpg" alt="Card image cap">
                            <div class="card-body">
                                    <small>20 August 2015</small>
                               <h5 class="card-title">Caps Off To Sport at Atena</h5>
                               <p class="card-text">
                                    Lorem ipsum dolor sit amet, ei tincidunt persequeris efficiantur vel, usu animal patrioque omittantur et. 
                                    Timeam nostrud platonem nec ea, simul nihil delectus has ex.
                               </p>
                               <a href="" class="btn btn-outline-dark btn-sm">read more</a>
                            </div>
                         </div>
            </div>
        </div>
    
    </div>

      <div class="tab-pane" id="events">
            <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card mb-4">
                                    <img class="card-img-top" src="/img/event_1_thumb.jpg" alt="Card image cap">
                                    <div class="card-body">
                                            <small>20 August 2015</small>
                                       <h5 class="card-title">Next students meeting</h5>
                                       <p class="card-text">Lorem ipsum dolor sit amet, ei tincidunt persequeris efficiantur vel, usu animal patrioque omittantur et. 
                                           Timeam nostrud platonem nec ea, simul nihil delectus has ex.</p>
                                       <a href="http://www.jquery2dotnet.com/" class="btn btn-outline-dark btn-sm">Go somewhere</a>
                                    </div>
                                 </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card mb-4">
                                    <img class="card-img-top" src="/img/event_2_thumb.jpg" alt="Card image cap">
                                    <div class="card-body">
                                            <small>20 August 2015</small>
                                       <h5 class="card-title">10 October Open day</h5>
                                       <p class="card-text">
                                            Lorem ipsum dolor sit amet, ei tincidunt persequeris efficiantur vel, usu animal patrioque omittantur et. 
                                            Timeam nostrud platonem nec ea, simul nihil delectus has ex.  </p>
                                       <a href="" class="btn btn-outline-dark btn-sm">Go somewhere</a>
                                    </div>
                                 </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card mb-4">
                                    <img class="card-img-top" src="/img/event_3_thumb.jpg" alt="Card image cap">
                                    <div class="card-body">
                                            <small>20 August 2015</small>
                                       <h5 class="card-title">Photography workshop</h5>
                                       <p class="card-text">Lorem ipsum dolor sit amet, ei tincidunt persequeris efficiantur vel, usu animal patrioque omittantur et. 
                                           Timeam nostrud platonem nec ea, simul nihil delectus has ex.</p>
                                       <a href="" class="btn btn-outline-dark btn-sm">read more</a>
                                    </div>
                                 </div>
                    </div>
                </div>
      </div>


      
    </div>
  </div>

</div>