<div class="top-content" id="video">
        <div class="container">
    
            <div class="row text-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sm-offset-2 text">
                    <h1>Discover the Campus</h1>
                    <p>
                            Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in.
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12 col-md-12 col-sm-8 col-sm-offset-2 video-link medium-paragraph">
                    <a href="#" class="launch-modal" data-modal-id="modal-video">
                        <span class="video-link-icon"><i class="fas fa-play"></i></span> 
                        
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12 col-md-12 col-sm-12 social">
                    <a href=""><i class="fab fa-facebook-f"></i></a> 
                    <span class="divider-2"></span> 
                    <a href=""><i class="fab fa-twitter"></i></a> 
                    <span class="divider-2"></span> 
                    <a href=""><i class="fab fa-google"></i></a>
                </div>
            </div>
    
        </div>
    </div>
    
    
     <!-- MODAL -->
     <div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-video">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/84910153?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=e89a3e"
                                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>